{% extends "layout.njk" %}

{% block content %}

  <section class="center-section">
    <div class="center-wrapper">
      <div class="center-text">
        <h1>As melhores receitas</h1>
        <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
      </div class="center-img">
      <img src="assets/chef.png" alt="">
    </div>
  </section>

  <section class="recipes-section">
    <h2>Mais acessadas</h2>

    <div class="cards">
      {% for recipe in recipes %}

        <div class="card">
          <img src="{{recipe.image}}" alt="">
          <h3>{{recipe.title}}</h3>
          <p>{{recipe.author}}</p>
        </div>
      {% endfor %}

    </div>
  </section>
</div>

{% endblock %}