{% extends "layout.njk" %}

{% block content %}
  

  <img src="{{recipe.image}}" alt="{{recipe.title}}">
  <h1>{{recipe.title}}</h1> 
  <p>{{recipe.author}}</p>

  <h2>Ingredientes</h2>

  <ul>
  {% for ingredient in recipe.ingredients %}
  <li>{{ingredient}}</li>
  {% endfor %}
  </ul>

  <h2>Modo de preparo</h2>
  {{recipe.preparation}}

  <h2>Informações adicionais</h2>
  {{recipe.information}}

{% endblock %}
