{% extends "layout.njk" %}

{% block content %}
  
      <section class="recipes-section recipes-page">
        <div class="cards">

        {% for recipe in recipes %}
          
        
          <div class="card" id="{{loop.index0}}">
            <img class="card-img" src="{{recipe.image}}" alt="" />
            <h3>{{recipe.title}}</h3>
            <p>{{recipe.author}}</p>
          </div>

          {% endfor %}

        </div>
      </section>

{% endblock %}
